.textContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #465a65;
  font-size: x-large;
  font-weight: bold;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #465a65;
  font-size: x-large;
  font-weight: bold;
}

.blink {
  align-self: flex-end;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.line {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.key {
  height: 50px;
  min-width: 50px;
  padding-right: 5px;
  padding-left: 5px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  font-weight: bold;
  background-color: #465a65;
  border-bottom: #607d8b solid 10px;
  border-right: #607d8b solid 10px;
  border-top: #26333a solid 10px;
  border-left: #26333a solid 10px;
  border-radius: 5px;
  margin: 5px;
}
